    <header class="col-md-12 text-center well pageHeader">
      <h1>Da News</h1>
      <h2><i>and Notes</i></h2>
    </header>

    <div class="container ">
      <div class="row col-md-12">

          <div class="col-md-12" id="newsDiv">
              <h3 class="text-center rowText">Da News</h3>
              <div id="articles"></div>
          </div>

      </div>
    </div>

    <div class="container ">
      <div class="row col-md-12">

          <div class="col-md-12 text-center" id="notesDiv">
              <h3 class="text-center rowText">Notes</h3>
              <h4 class="text-center smallText">Click a title to leave a note about the article</h4>
              <div id="notes"></div>
          </div>

      </div>
    </div>


